<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ xvii - messenger for vk
  ~ Copyright (C) 2021  TwoEightNine
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twoeightnine.root.xvii">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <uses-feature android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name="com.twoeightnine.root.xvii.App"
        android:allowBackup="true"
        android:icon="@drawable/xvii_logo_128_circle"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.twoeightnine.root.xvii.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver
            android:name=".background.longpoll.receivers.RestarterBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="restartAction" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".background.longpoll.receivers.MarkAsReadBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="markAsReadAction" />
            </intent-filter>
        </receiver>

        <receiver android:name=".background.music.services.MusicBroadcastReceiver" />

        <receiver
            android:name=".background.longpoll.receivers.KeyExchangeHandler$Receiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="actionDenyExchange" />
                <action android:name="actionAcceptExchange" />
            </intent-filter>
        </receiver>

        <!--<service android:name=".background.LongPollService" />-->

        <service android:name=".background.longpoll.services.NotificationService" />

        <service
            android:name=".background.longpoll.services.NotificationJobIntentService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".background.music.services.MusicService"
            android:permission="android.permission.WAKE_LOCK" />

        <service android:name=".background.messaging.MessageDestructionService" />

        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".pin.PinActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".photoviewer.ImageViewerActivity"
            android:theme="@style/AppTheme.Transparent.Photo" />

        <activity
            android:name=".activities.ExceptionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".chats.messages.chat.usual.ChatActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name=".features.appearance.AppearanceActivity"
            android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="vk.com"
                    android:pathPrefix="/id"
                    android:scheme="https" />
                <data
                    android:host="vk.com"
                    android:pathPrefix="/club"
                    android:scheme="https" />
                <data
                    android:host="vk.com"
                    android:pathPrefix="/public"
                    android:scheme="https" />
                <data
                    android:host="vk.com"
                    android:pathPrefix="/im"
                    android:scheme="https" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".chats.messages.chat.secret.SecretChatActivity"
            android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name=".background.longpoll.LongPollExplanationActivity"
            android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name=".pin.fake.alarm.AlarmActivity"
            android:theme="@style/AppTheme.Transparent"/>

        <activity
            android:name=".pin.fake.diagnostics.DiagnosticsActivity"
            android:theme="@style/AppTheme.Transparent"/>

        <activity
            android:name=".base.FragmentPlacementActivity"
            android:theme="@style/AppTheme.Transparent"/>

    </application>

</manifest>