<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twoeightnine.root.xvii">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <uses-feature android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <application
        android:name="com.twoeightnine.root.xvii.App"
        android:allowBackup="true"
        android:icon="@drawable/xvii_dark_logo_128"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.twoeightnine.root.xvii.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${adAppId}"/>


        <receiver
            android:name=".background.longpoll.receivers.RestarterBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="restartAction" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".background.longpoll.receivers.MarkAsReadBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="markAsReadAction" />
            </intent-filter>
        </receiver>
        <receiver android:name=".background.music.services.MusicBroadcastReceiver" />

        <!--<service android:name=".background.LongPollService" />-->

        <service android:name=".background.longpoll.services.NotificationService" />

        <service android:name="com.twoeightnine.root.xvii.crypto.prime.PrimeGeneratorService" />
        <service
            android:name=".background.longpoll.services.NotificationJobIntentService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name="com.twoeightnine.root.xvii.crypto.prime.PrimeGeneratorJobIntentService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".background.music.services.MusicService"
            android:permission="android.permission.WAKE_LOCK" />
        <service android:name=".background.DownloadFileService" />
        <service android:name=".background.messaging.MessageDestructionService" />

        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".pin.PinActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".photoviewer.ImageViewerActivity"
            android:theme="@style/AppTheme.Transparent.Photo" />

        <activity
            android:name=".web.GifViewerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".web.VideoViewerActivity"
            android:theme="@style/AppTheme.Transparent.Photo" />

        <activity
            android:name=".activities.ExceptionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".chats.messages.chat.usual.ChatActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".accounts.activities.AccountsActivity"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".chats.attachments.attachments.AttachmentsActivity"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".chats.attachments.attach.AttachActivity"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".chats.attachments.audios.AudiosActivity"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".search.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".egg.EggActivity"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".wallpost.WallPostActivity"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".chats.messages.starred.StarredMessagesActivity"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".web.WebActivity"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".features.appearance.AppearanceActivity"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".features.general.GeneralActivity"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".features.notifications.NotificationsActivity"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".dialogs.activities.DialogsForwardActivity"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chats.messages.chat.secret.SecretChatActivity"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".background.longpoll.LongPollExplanationActivity"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".features.datausage.DataUsageActivity"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".chats.messages.deepforwarded.DeepForwardedActivity"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".chatowner.ChatOwnerActivity"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="vk.com"
                    android:pathPrefix="/id"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".poll.PollsActivity"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".features.assist.AssistActivity"
            android:theme="@style/AppTheme.Transparent"/>
        <activity
            android:name=".pin.fake.alarm.AlarmActivity"
            android:theme="@style/AppTheme.Transparent"/>
        <activity
            android:name=".scheduled.ui.ScheduledMessagesActivity"
            android:theme="@style/AppTheme.Transparent"/>
        <activity
            android:name=".base.FragmentPlacementActivity"
            android:theme="@style/AppTheme.Transparent"/>

    </application>

</manifest>